@import "tailwindcss";

@theme inline {
  --color-sidebar: #1e293b;
  --color-sidebar-hover: #334155;
  --color-sidebar-active: #0d9488;
  --color-primary: #0d9488;
  --color-primary-dark: #111827;
  --color-background-light: #f3f4f6;
}

/* Ensure full height layout */
html, body {
  height: 100%;
}
